.c {
	@include pos;
}
.is-fade {}
.is-slide .slides > li {
  @include pos();
  display: block;
}

.c-lst-container {
	text-align: center;

	.flex-direction-nav {
		margin: 0; padding: 0;
		
		li {
			margin: 0;
			list-style: none;
		}
		.flex-next {
			right: $gutterwidth;
		}
		.flex-prev {
			left: $gutterwidth;
		}
		a {
			background-image: url(img/slider/icons_slider_nxt_prv.png);
			width: 36px; height: 36px;
		}
	}
	.flex-control-nav {
		background-image: url(img/bk/bianco_80.png);
		//@include box-inline;
		@include pos(static);
		width: auto;
		padding: 0 $gutterwidth * 2;
		//bottom: 40px;
	}
	.flex-control-paging {

		li {
			padding-top: 0;

			a {
				background-color: $color-7;
				line-height: 10px;
			}
			a:hover,
			a.flex-active {
				background-color: $color-6;
			}
		}
	}
	.ie7 & {}
}

/* Clearfix for the .c-lst element */
.c-lst:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .c-lst {display: block;} 
* html .c-lst {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .c-lst > li:first-child {display: block;}

.loading-square-circle {
	background: url(img/loader_sc.gif) no-repeat 50% 50%;
	min-height: 31px;
	height: auto !important;
	height: 31px;
}

.c-lst-container {

	.slides {
		//background: $darkerblu;
		//@include height(500);

		li {
			width: $maxwidth;

			img {
				width: auto;
				max-height: 100%;
				margin: 0 auto;
			}
		}
	}

	.slide-img-container {
		//background: #000;
		display: block;
		width: 100%;
		@include pos;

		.slide-img-spacer {
			padding-top: 50%;
			//padding-top: 62.5%; //650 height * 100
			display: block;
			content: '';
		}
		.slide-img {
			text-align: center;
			@include pos(absolute,20);
			top: 0; bottom: 0; right: 0; left: 0;
			overflow: hidden;

			img {
				display: block;
				width: auto;
				max-width: 100%;
				max-height: 100%;
				margin: 0 auto;
			}
		}
	}

	/*.flex-direction-nav {
		@include pos(absolute,500);
		top: 0; left: 0; right: 0;
		width: 100%;
		padding-top: 50%;

		a {
			background: url(img/centered_btns.gif) no-repeat 0 0;
			@include opacity(70 / 100);
			margin-top: 0;
			top: 0;
			height: 100%;
			width: 49%;
		}
		.flex-prev {
			background-position: 0 50%;
		}
		.flex-next {
			width: 51%;
			background-position: 100% 50%;
		}
	}*/
}
	